.theme-single {
    margin: auto;
    width: 100%;

    .card {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);

        img {
            max-width: 100%;
            box-shadow: 0 0px 6px rgba(0,0,0,.3);
        }

        .content {
            padding: 1rem;
            word-wrap: break-word;

            ul {
                margin: 0;
                li {
                    list-style-type: none;
                    padding-left: 0;
                }
            }
        }
    }
}

.themes-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: stretch;

    .card {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);

        img {
            max-width: 100%;
            box-shadow: 0 0px 6px rgba(0,0,0,.3);
        }

        .content {
            padding: 1rem;
            word-wrap: break-word;

            ul {
                margin: 0;
                li {
                    list-style-type: none;
                    padding-left: 0;
                }
            }
        }
    }
}
